<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>

<!-- router outler is a directive given by router module which acts as an place holder for component registered in application routing config -->

<nav class="navbar navbar-inverse navbar-fixed-top" *ngIf="isLoggedIn()">
        <div class="container-fluid">
      
          <div id="main" class="navbar-header">
            <div id="mySidebar" class="sidebar">
              <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
              <a [routerLink]="['/user/dashboard']">Home</a>
              <a [routerLink]="['/product/add']">Add Product</a>
              <a [routerLink]="['/product/list']">Show Product</a>
              <a [routerLink]="['/product/search']">Search Product</a>
              <a [routerLink]="['/auth/login']" (click)="logout()">Logout</a>
            </div>
            <button class="openbtn" (click)="openNav()">☰ Menu</button>
      
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a [routerLink]="['/user/dashboard']">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
          </ul>
        </div>
      
      </nav>
      
      

<div class="container main">
    <router-outlet></router-outlet>

</div>
<!-- <app-footer></app-footer> -->